body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 25px;
}


.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
    padding: 10% 20%;
    padding-right: 0%;
    text-align: center;

}

.s2 {
    color: black;
}

.s2 h1 {
    font-size: 50px;
    color: black;
}

.half-width p {
    color: white;
}

.half-width img {
    width: 75%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    position: center;
}

section {
    padding-top: 50px;
}

.top-banner {
    background-image: url(images2/donation6.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}

.top-banner p {
    text-align: justify;
}

.top-banner img {
    margin-left: 20%;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 1px;
    padding-right: 50px;
}

.dream-big p {
    text-align: justify;
}

.orange-color {
    color: orange;
}

#d2 {
    border: 7px red;
    background-color: beige;
}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.s5 {
    width: 50%;
    height: 90px;
    margin-left: 5%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 100px gray;
    display: flex;
    margin-bottom: 10px;
}

#d2 {
    broder: 7px red
}

.experiences-item p {
    text-align: justify;

}

#tc {
    text-align: center;
}

#d15 {
    margin-left: 25%;
}

.experiences-item h1 {
    font-size: 35px;
}

#full-stack-web-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

.p3 {
    position: center;
    color: black;
}

footer h2 {
    text-align: center;
    color: white;
}

footer p {
    text-align: center;
    color: orange;
}

footer {
    background-color: black;
}